<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wave</title>
    <link rel="stylesheet" href="/fonts/css/all.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="team-head-box">
        <i class="fa fa-arrow-left t-b-i"></i>
        <h5 class="team-head-text">About Wave</h5>
    </div>
    <div class="about-company-content-body">
      <p class="about-company-content-text">
      Wave, founded in 2022 in South America, is a visionary enterprise
      dedicated to transforming the energy paradigm and fostering a more
      sustainable future. Through strategic partnerships with esteemed Nigerian
      solar companies, Wave is committed to bridging the energy gap and
      empowering communities across the region. By leveraging cutting-edge
      technology and innovative business models, Wave is driving the widespread
      adoption of clean, reliable, and affordable solar energy, thereby
      contributing to the realization of a more equitable and environmentally
      conscious society. With a robust network of over 400,000 dedicated
      employees and a vast portfolio of millions of products in stock, Wave is
      revolutionizing the solar energy landscape in Nigeria. Our mission is to
      catalyze economic growth, improve living standards, and promote
      environmental stewardship through the provision of high-quality,
      sustainable energy solutions. As a pioneering force in the clean energy
      sector, Wave is proud to be the new face of solar energy in Nigeria,
      dedicated to illuminating a brighter future for generations to come.
      </p>  
    </div>
  </body>
  <script>
    const teamBackBtw=document.querySelector('.t-b-i').addEventListener('click', ()=>{
        const url='/home';
        window.location.replace(url);
    })
</script>
</html>
