<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave</title>
    <link rel="stylesheet" href="/fonts/css/all.css" />
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div class="team-head-box">
        <i class="fa fa-arrow-left t-b-i"></i>
        <h5 class="team-head-text">Team</h5>
    </div>
    <span class="coming-soon-box">
        <h5 class="coming-soon-text">Coming Soon...</h5>
    </span>
</body>
<script>
    const teamBackBtw=document.querySelector('.t-b-i').addEventListener('click', ()=>{
        const url='/home';
        window.location.replace(url);
    })
</script>
</html>